/* h1{color: blue;} */

/* h1,h2,h3,h4,h5,h6{color: blueviolet;}

.heading1{
    color: red;
    background-color: black;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: end;}


#heading2{
    color: blue;
    background-color: aqua;
    font-weight: bolder;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    letter-spacing: 2px;
} */

/* .th,td {text-align: center;} */

